body {
    margin: 20px;
    }
.post-container {
    
    display: flex;
    flex-direction: row;
	background: #cce3de;
	padding: 3%;
	margin: 0 2%;
}
.heading {
	height: 10px;
	text-align: center;
	display: flex;
	align-items: center;
}
.image {
    float: left;
	width: 200px;
	height: 280px;
}
.info {
	height: 10px;
	text-align: left;
	display: flex;
	align-items: center;
}

.info_container {
    /* grid-template-columns: auto auto; */
    float: left;
    width: 80%;
    padding: 5px;
}
button {
    background-color: #6B9080;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 50%;
    border-radius: 8px;
  }